<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>xUnit test results</title>
  <link rel="stylesheet" type="text/css" href="coverage/gcov.css">
</head>
<style>
th { background-color: black; color: white; text-align: left; }
</style>
<body>
      

<h1>Set of testsuites ([% title %])</h1>

[%  FOREACH suites IN all %]
<h2> Suite-set: [% suites.name %] ([% suites.tests %]) </h2>
<p>From result file '[%  suites.resfname %]'</p>
  [%  FOREACH suite IN suites.testsuite %]
<h3> Suite/Fixture - [%  suite.name %] </h3>

Run at [% suite.timestamp %] with following testcases:

<table width="80%" border=0 cellspacing=0 cellpadding=0>
<tr>
  <th style="width: 220px">Name</th>
  <th style="width: 180px">Fixture</th>
  <th style="width: 100px">Status</th>
  <th style="width: 100px">Result</th>
  <th></th>
  <th></th>
</tr>
    [%  FOREACH case IN suite.testcase %]
<tr>
<td>[% case.name %]</td><td>[% case.classname %]</td>
<td>[% case.status %] </td><td> [% case.result %]</td>
</tr>
[%  END %]
  [%  END %]
</table>

[%  END %]


</body>
</html>
