<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>xUnit Test Results Report</title>
  <link rel="stylesheet" type="text/css" href="">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
  <!-- http://www.template-toolkit.org/docs/manual/Directives.html -->
  <style>
/* #CC092F #454545 */
.spare {color: #555555; background-color: #EEEEEE; bg: #454545; }
#content { margin: 0px; padding: 20px; }
#header { padding: 5px 20px; margin: 0px;  color: #FFFFFF; background-color: #CC092F;  }
#footer { margin-top: 50px; }
body { margin: 0px; padding: 0; font-family: sans-serif; }
#header h1 { font-weight: bold; }
h2 { font-weight: bold; }
tt[data-code] { font-size: 12px; }
/* black */
th { background-color: #CC092F; color: white; text-align: left; padding-left: 5px; }
table { table-layout: fixed; }
  </style>
  <!-- Placeholder for further steps (node_modules/chart.js/dist/Chart.js) -->
  <script type="text/javascript" src="Chart.js"></script>
  <script>
  var cdata = null;
  [% IF cdata %]
  cdata = [% cdata %];
  [% END %]
  //animation: {duration: 3000},
  var copts = { responsive: true, legend: {position: 'top', display: true}};
  // data should be: {labels: [], datasets: [ label: "", data: [], borderWidth: 2, borderColor: ""]};
  if (cdata) {
    window.onload = function () {
      var ctx = document.getElementById("canvas").getContext('2d');
      var chart = new Chart(ctx, { type: 'line', data: cdata, options: copts });
    };
  }
  </script>
</head>

<body>
<div id="header">
  <!-- glyphicon-home -->
  <h1><i id="index" class="glyphicon glyphicon-check" ></i>
  <!--<span style="font-weight: bold;">-->Set of testsuites ([% title %], [% cnt_tot %] tests)<!--</span>--></h1>
</div>
<div id="content">
<!-- <h1>Set of testsuites ([% title %], [% cnt_tot %] tests)</h1> -->

[%  FOREACH suites IN all %]
<h2> Suite-set: [% suites.name %] ([% suites.tests %] tests from <tt>[%  suites.resfname %]</tt>) </h2>
<!-- <p>From result file '<tt>[%  suites.resfname %]</tt>'</p> -->
  [%  FOREACH suite IN suites.testsuite %]
<h3> Suite/Fixture - [%  suite.name %] </h3>

<p>Run at [% suite.timestamp %] with following ([% suite.tests %]) testcases:</p>

<table width="80%" border=0 cellspacing=0 cellpadding=0>
<tr>
  <th style="width: 420px">Name</th>
  <th style="width: 180px">Fixture</th>
  <th style="width: 100px">Status</th>
  <th style="width: 100px">Result</th>
  <th style="width: 100px">Time</th>
  
</tr>
    [% FOREACH case IN suite.testcase %]
<tr>
  <td><tt data-code="true">[% case.name %]</tt></td><td><tt data-code="true">[% case.classname %]</tt></td>
  <td>[% case.status %]</td><td>[% (case.error or case.failure) ?
    '<span style="color: red; font-weight: bold; "><i class="glyphicon glyphicon-remove-circle" ></i> FAIL' :
    '<span style="color: green"><i class="glyphicon glyphicon-check" ></i> PASS' %]</span></td>  <!--<td>[% case.result %]</td>-->
  <td> [% case.time %]</td>
</tr>
[% END %]
</table>
[% END %]


[% END %]

[%  IF cdata %]
<h2>Test Trends Data</h2>

<canvas id="canvas"></canvas>
[% END %]

<div id="footer" style="font-size: 8pt">Created with <a href="https://github.com/ohollmen/DPUT">Data Processing Utility toolkit (DPUT)</a></div>
</div>
</body>
</html>
